<!DOCTYPE html>
<html ng-app="test">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p>Is Angular Working?: {{ 1 + 1 === 2 }}</p>
    <test-component></test-component>
  </body>
</html>
